@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
      font-family:'android';
        src: url('fontes/idroid.otf') format('Opentype');
       font-weight:normal;
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
   --cor4:#1a5c37;
  --cor5:#063d1e;
  --font-padrao:arial,verdana,helvetica,sans-serif;
  --font-destaque:'Bebas Neue', cursive;
  --font-android:'android',cursive;
}
body{
    background-color:rgb(207, 172, 126);
    font-family: var(--font-padrao);
}
main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    
}
header{
    background-image: linear-gradient(to top, var(--cor4),var(--cor3));
   
   padding: 20px;
    text-align: center;

}
header>p{
    color:white;
    text-align: center;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 30px;

}
header>h1{
    color:white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;

}
nav{
    background-image: linear-gradient(to top, var(--cor5),var(--cor4));
    padding-top: 0px;

}
nav>a{
    text-decoration: none;
    color: var(--cor0);
    margin: 10px;
    transition-duration: 2s;
}
nav>a:hover{
    color: var(--cor1);
    padding: 2px;
    background-color: var(--cor3);
}
main{
    background-color: white;
    margin: auto;
    padding: 50px;
    min-width: 320px;
    max-width: 1000px;
    margin-bottom: 10px;
    

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main h1{
    color:var(--cor5);
    font-family: var(--font-android);
}
main h2{
  font-family: var(--font-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient( to right,var(--cor1),transparent);
  text-indent: 10px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
   

    
}
main img{
    width: 100%;
}
div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 15px;
    padding-bottom: 59% ;
}
div.video>iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}
main img .pequena{
    width: 50%;
    display: block;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
    background-color: var(--cor1);
}
main a:hover{
    text-decoration: overline;
    padding: 2px;
    color: var(--cor3);
}
footer>p>a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
    
}
footer a:hover{
    text-decoration: overline;
    color: var(--cor1);
    padding: 2px;
    transition-duration: 0.5s;
}
aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.527);
}
aside >h3{
    background-color: var(--cor4);
    color: white;
    height: 20px;
    border-radius: 2px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns:2;
   
}